*{
    font-size: 12px;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: #999;
}

a:hover{
    color: #F30213;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

.float_l{
    float:left;
}

.float_r{
    float:right;
}

.clear_both{
    clear: both;
}

.clear_l{
    clear:left;
}

.clear_r{
    clear: right;
}

#head{
    height: 35px;
    width: 100%;
    background-color: #E3E4E5;
    line-height: 35px;
}

#top{
    width: 1210px;
    height: 35px;
    margin: 0 auto;
}
/*海外*/
#kaigai{
    position: relative;
}
#kaigai > p{
    color: #999;
    height: 34px;
    cursor:default;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
    position: relative;
    z-index: 10;
}

#kaigai:hover > p{
    border-color: #DDD;
    background-color: #FFF;
    border-bottom: none;
}

#kaigai div.dropdown{
    background-color: #FFF;
    border: 1px solid #DDD;
    width: 332px;
    box-sizing: border-box;
    padding: 3px 20px;
    position: absolute;
    top: 33px;
    left: 0px;
    z-index: 1;
    display: none;
}

#kaigai:hover > div.dropdown{
    display: block;
}

#kaigai ul.address{
    padding: 2px 0px;
    margin-bottom: 8px;
    border-bottom: 1px solid #EEE;
}

#kaigai ul.address>li{
    float: left;
    width: 54px;
    box-sizing: border-box;
    margin:1px 2px;
}

#kaigai ul.address>li a{
    padding: 2px 6px;
}

#kaigai ul.address>li:hover a{
    color: #F30213;
    background: #F4F4F4;
}

#kaigai ul.address>li.active a{
    color: #FFF;
    background: #F30213;
}

#kaigai>div.dropdown>div.special_region>p{
    padding: 0 6px;
    color: #999;
}

#kaigai>div.dropdown>div.special_region>div{
    padding: 0 6px;
    margin-bottom: 15px;
}

#kaigai>div.dropdown>div.special_region>div p{
    width: 50%;
    height: 27px;
    line-height: 27px;
    float: left;
    text-align: left;
}

/**右侧，导航列表*/
#nav{
    padding: 7px 0;
    box-sizing: border-box;
    height: 35px;
}
#nav > li{
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    height: 21px;
    line-height: 21px;
}

#nav > li.no_border{
    border:none;
}

#nav > li.login span{
    color: #F30213;
}